@model IEnumerable<tareas.Models.ModelViews.TareasView>

<script>
    $(document).ready(function () {
        $("#VentanaModal").dialog({
            autoOpen: false,
            width: 700,
            height: 600,
            modal:true
        });
        $("a#agregarMateria").each(function () {
            $(this).click(function (e) {

                e.preventDefault();
                $("#containerForm").load("/Materias/AgregarTarea/" + $(this).attr("idMateria"));
                $("#VentanaModal").dialog("open");

            });
        })
        
    });
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_register)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_register)
        </td>
        <td>
            @if (item.add == true) 
            {
                <a href="/" id="agregarMateria" idMateria="@item.id">Agregar Tarea</a>
            }
        </td>
        <td>
            <ul>
                <li>
                    @foreach(var work in item.tareas)
                    {
                        <div>@work.title</div>
                        <div>@work.date_emision</div>
                        <div>@work.date_end</div>
                        <div id="menu">
                            <ul>
                               
                                @if (@work.edit == true) 
                                {
                                    <li><a href="">Editar</a> </li>   
                                }
                                @if (@work.delete == true) 
                                {
                                    <li><a href="">Borrar</a> </li>   
                                }
                            </ul>
                        </div>
                    }
                </li>
            </ul>
        </td>
    </tr>
}

</table>
<div id="VentanaModal" title="Agregar Tareas">
    <div id="containerForm">

    </div>
</div>