@model IEnumerable<tareas.Models.ModelViews.TareasView>

<script>
    $(document).ready(function () {
        $("#VentanaModal").dialog({
            autoOpen: false,
            width: 750,
            height: 600,
            modal:true
        });
        $("#modalAlert").hide();
        $("a#agregarMateria").each(function () {
            $(this).click(function (e) {

                e.preventDefault();
                $("#containerForm").load("/Materias/AgregarTarea/" + $(this).attr("idMateria"));
                $("#VentanaModal").dialog("open");

            });
        })
        $("a#BorrarMateria").each(function () {
            $(this).click(function (e) {
                e.preventDefault();
                var button = $(this);
                $("#modalAlert").dialog({
                    resizable: false,
                    modal:true,
                    height: 200,
                    buttons: {
                        "Aceptar": function ()
                        {
                            $(this).dialog("close");
                            $.post(button.attr("href"), {}, function (data) {
                                if (data)
                                {
                                    button.parent().parent().parent().parent().hide("slow");
                                }
                            }, "json");
                        },
                        cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
        $("a#Editar").each(function () {
            $(this).click(function (e) {
                e.preventDefault();
                e.preventDefault();
                $("#containerForm").load($(this).attr("href"));
                $("#VentanaModal").dialog("open");

            });
        });
        
    });
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_register)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_register)
        </td>
        <td>
            @if (item.add == true) 
            {
                <a href="/" id="agregarMateria" idMateria="@item.id">Agregar Tarea</a>
            }
        </td>
        <td>
            <ul>
                 @foreach(var work in item.tareas)
                    {
                <li>
                   
                        <div>@work.title</div>
                        <div>@work.date_emision</div>
                        <div>@work.date_end</div>
                        <div id="menu">
                            <ul>
                               
                                @if (@work.edit == true) 
                                {
                                    <li><a href="/Materias/actualizarTarea/@work.id" id="Editar">Editar</a> </li>   
                                }
                                @if (@work.delete == true) 
                                {
                                    <li><a href="/Materias/borrarTarea/@work.id" id="BorrarMateria">Borrar</a> </li>   
                                }
                            </ul>
                        </div>
                    
                </li>
                     }
            </ul>
        </td>
    </tr>
}

</table>
<div id="VentanaModal" title="Agregar Tareas">
    <div id="containerForm">

    </div>
</div>
<div id="modalAlert">
    <p>
        ¿Realmente desea Borrar esta tarea publicada?
    </p>
</div>